parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$callback of function array_filter expects \\(callable\\(mixed\\)\\: bool\\)\\|null, Closure\\(mixed\\)\\: \\(array\\|null\\) given\\.$#"
			count: 1
			path: src/bundle/DependencyInjection/IbexaAutomatedTranslationExtension.php

		-
			message: "#^Access to protected property Ibexa\\\\AdminUi\\\\Form\\\\Data\\\\ContentTranslationData\\:\\:\\$content\\.$#"
			count: 4
			path: src/bundle/Form/Extension/ContentEditType.php

		-
			message: "#^Parameter \\#3 \\$remoteServiceKey of method Ibexa\\\\AutomatedTranslation\\\\Translator\\:\\:getTranslatedFields\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/bundle/Form/Extension/ContentEditType.php

		-
			message: "#^Cannot call method setValue\\(\\) on Ibexa\\\\Contracts\\\\FieldTypePage\\\\FieldType\\\\LandingPage\\\\Model\\\\Attribute\\|null\\.$#"
			count: 1
			path: src/lib/Encoder/Field/PageBuilderFieldEncoder.php

		-
			message: "#^Parameter \\#1 \\$type of method Ibexa\\\\AutomatedTranslation\\\\Encoder\\\\Field\\\\PageBuilderFieldEncoder\\:\\:canDecode\\(\\) expects string, class\\-string\\|false given\\.$#"
			count: 1
			path: tests/lib/Encoder/Field/PageBuilderFieldEncoderTest.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\<Ibexa\\\\AutomatedTranslation\\\\Encoder\\\\RichText\\\\RichTextEncoder\\>\\:\\:getMock\\(\\) contains unresolvable type\\.$#"
			count: 2
			path: tests/lib/Encoder/Field/RichTextFieldEncoderTest.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\<Ibexa\\\\AutomatedTranslation\\\\Encoder\\\\Field\\\\FieldEncoderManager\\>\\:\\:getMock\\(\\) contains unresolvable type\\.$#"
			count: 2
			path: tests/lib/EncoderTest.php

