parameters:
	ignoreErrors:
		-
			message: '#^Access to protected property Ibexa\\AdminUi\\Form\\Data\\ContentTranslationData\:\:\$content\.$#'
			identifier: property.protected
			count: 4
			path: src/bundle/Form/Extension/ContentEditType.php

		-
			message: '#^Instanceof between Ibexa\\AdminUi\\Form\\Data\\ContentTranslationData and Ibexa\\AdminUi\\Form\\Data\\ContentTranslationData will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/bundle/Form/Extension/ContentEditType.php

		-
			message: '#^Parameter \#3 \$remoteServiceKey of method Ibexa\\AutomatedTranslation\\Translator\:\:getTranslatedFields\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/bundle/Form/Extension/ContentEditType.php

		-
			message: '#^Class Ibexa\\Bundle\\AutomatedTranslation\\Form\\TranslationAddDataTransformer implements generic interface Symfony\\Component\\Form\\DataTransformerInterface but does not specify its types\: T, R$#'
			identifier: missingType.generics
			count: 1
			path: src/bundle/Form/TranslationAddDataTransformer.php

		-
			message: '#^Call to an undefined method DOMNode\:\:getAttribute\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/lib/Encoder.php

		-
			message: '#^Call to an undefined method DOMNode\:\:getAttribute\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/lib/Encoder/Field/PageBuilderFieldEncoder.php

		-
			message: '#^Cannot call method setValue\(\) on Ibexa\\Contracts\\FieldTypePage\\FieldType\\LandingPage\\Model\\Attribute\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/lib/Encoder/Field/PageBuilderFieldEncoder.php

		-
			message: '#^Parameter \#1 \$type of method Ibexa\\AutomatedTranslation\\Encoder\\Field\\PageBuilderFieldEncoder\:\:canDecode\(\) expects string, class\-string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/lib/Encoder/Field/PageBuilderFieldEncoderTest.php

		-
			message: '#^Return type of call to method PHPUnit\\Framework\\MockObject\\MockBuilder\<Ibexa\\AutomatedTranslation\\Encoder\\RichText\\RichTextEncoder\>\:\:getMock\(\) contains unresolvable type\.$#'
			identifier: method.unresolvableReturnType
			count: 2
			path: tests/lib/Encoder/Field/RichTextFieldEncoderTest.php

		-
			message: '#^Return type of call to method PHPUnit\\Framework\\MockObject\\MockBuilder\<Ibexa\\AutomatedTranslation\\Encoder\\Field\\FieldEncoderManager\>\:\:getMock\(\) contains unresolvable type\.$#'
			identifier: method.unresolvableReturnType
			count: 2
			path: tests/lib/EncoderTest.php
